.main
  .main__header
    .main__header--left
      = @group.name
      %ul.main__header--left--box
        %li.main__header--left--box--groups
        Member :　
        %li.main__header--left--box--name
        - @group.users.each do |a|
          = a.name
    = link_to edit_group_path(@group), class:"Edit" do 
      Edit
  .main__body
    = render partial: 'messages_main', collection: @messages

  .main__footer
    .main__footer__message
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'textbox', placeholder: '　type a message'
        .main__footer__message__box--right
          = f.label :image, class: 'file' do
            = icon('fas', 'image', class: 'file')
            = f.file_field :image, class: 'file'
        = f.submit 'Send', class: 'sub'